

body {

background-color: rgb(120,120,120);; /* rgb(120,120,120);  */
color: rgb(255,255,255);

  padding: 0px;
  margin: 20px;

}



#gCanvas {
  background-color: black;

  padding: 0px;
  margin: 0px;

/*background-color: rgb(80,0,0); */


}
